@font-face {
  font-family: mononoki;
  src: url("/mononoki/mononoki-Regular.ttf");
}
html {
  font-size: 62.5%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  font-size: 1.6rem;
  color: #000;
  line-height: 1.2;
}

header {
  border-bottom: 0.2rem solid #000;
  font-weight: lighter;
}

nav {
  text-align: right;
}

main a {
  text-decoration: none;
}

main a:link {
  color: #0679A7;
}

nav a {
  font-size: 1.8rem;
  font-weight: lighter;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

footer {
  margin-top: 3rem;
  padding: 1.2rem 0;
  border-top: 0.2rem solid #000;
  font-size: 1.2rem;
  color: #555;
}

h1 {
  font-size: 2.4rem;
  font-weight: lighter;
}

h2 {
  font-size: 2rem;
  font-weight: lighter;
}

article .header {
  font-size: 1.4rem;
  font-style: italic;
  color: #555;
}

blockquote {
  background-color: whitesmoke;
  border-radius: 1em;
  padding: 0.5em;
  margin: 0;
  font-weight: lighter;
}

.logo a {
  font-weight: normal;
  color: #000;
  text-decoration: none;
}

@media (max-width: 319px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  header {
    margin: 4.2rem 0;
  }
  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  .logo {
    text-align: center;
    margin: 1rem auto 3rem;
  }
  .logo a {
    font-size: 2.4rem;
  }
  nav a {
    display: block;
    line-height: 1.6;
  }
}

@media (min-width: 320px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  header {
    margin: 4.2rem 0;
  }
  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  .logo {
    text-align: center;
    margin: 1rem auto 3rem;
  }
  .logo a {
    font-size: 2.4rem;
  }
  nav a {
    display: inline;
    margin: 0 0.6rem;
  }
}

@media (min-width: 640px) {
  body {
    width: 60rem;
    margin: 0 auto;
    padding: 0;
  }
  header {
    margin: 0 0 3rem;
    padding: 1.2rem 0;
  }
  nav {
    margin: 0;
    text-align: right;
  }
  nav a {
    margin: 0 0 0 1.2rem;
    display: inline;
  }
  footer {
    text-align: right;
  }
  .logo {
    margin: 0;
    text-align: left;
  }
  .logo a {
    float: left;
    font-size: 1.8rem;
  }
}

pre {
  word-wrap: normal;
  overflow-x: auto;
  white-space: pre;
  background-color: whitesmoke;
  /* border-radius: 1em; */
  padding: 0.5em;
  margin: 0;
}

pre code {
  font-family: mononoki;
}

p code {
  font-family: mononoki;
}

/* body main ul {
  padding: 0;
} */