<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% seo %}
    <link rel="shortcut icon" href="{{ '/assets/favicon.ico' | relative_url }}" type="image/x-icon">
    <link rel="icon" href="{{ '/assets/favicon.ico' | relative_url }}" type="image/x-icon">
    <link rel="preload" href="{{ '/assets/fonts/Klee.woff2' | relative_url }}" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
</head>

<body>
