<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>コール - $title$</title>
        <link rel="stylesheet" href="/css/default.css" />
        <style>
            main p code {
                color: blue;
                font: initial;
            }
            pre {
                background-color: white;
                margin: 0;
                padding: 0;
            }
            pre code {
                color: blue;
            }
        </style>
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="/idolcall">コール</a>
            </div>
            <nav>
                <a href="/idolcall/">主頁</a>
                <a href="/idolcall/about.html">指南</a>
            </nav>
        </header>

        <main role="main">
            <h1>$title$</h1>
            $body$
        </main>

        <footer>
            我最喜歡小🍅</a>
        </footer>
    </body>
</html>
