---
layout: compress
---

{% include head.html %}

<main>

    {% include header.html %}

    {{ content }}

    <ul class="blog-posts">
        {% for post in site.posts %}
        <li>
            <span>
                <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time>
            </span>
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>

    <small>
        {% for tag in site.tags %}
        {% assign tag_slug = tag | first %}
        <a href="{{ '/tagged/' | append: tag_slug | append: '/' | relative_url }}" title="See all posts tagged {{ tag_slug }}">#{{ tag_slug }}</a>
        {% endfor %}
    </small>

</main>

{% include footer.html %}

</body>

</html>