---
layout: compress
---

{% include head.html %}

<main>

    {% include header.html %}

    {{ content }}

    {% if site.tags[page.slug] %}
    <p>
        Here be writings, tagged as <b>"{{ page.slug }}"</b>.<br>
        <small><a href="{{ '/' | relative_url }}">Remove filter</a></small>
    </p>

    <ul class="blog-posts">
        {% for post in site.tags[page.slug] %}
        <li>
            <span>
                <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time>
            </span>
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>
        There are no posts in {{ page.slug }}.
    </p>
    {% endif %}

</main>

{% include footer.html %}

</body>

</html>